@model IEnumerable<RKPP.Models.New>

@{
    ViewBag.Title = "Aktualności";
}

<h2 style="font-weight:bold;">Aktualności</h2>

<div>
    <a href="#" class="image featured"><img src=@Url.Content("~/images/pic03_2.jpg") alt="" /></a>
</div>
<p>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Dodaj", "Create")
}
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p style="font-weight:bold;font-style:italic;">
                    @Html.DisplayFor(modelItem => item.Date)
                </p>
                <p>
                    @Html.DisplayWithBreaksFor(modelItem => item.Content)
                </p>
                <p>
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id })
                        <v>|</v>
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                    }
                </p>
            </td>
        </tr>
                    }

</table>

<style type="text/css">
    .image.featured {
        display: block;
        width: 100%;
        margin: 0 0 2em 0;
    }
</style>